body{
  overflow-x:hidden;
  background-color: #F7F2F6;
}
.first-glass{
  display: flex;
}

.first-glass img{
  transform:scale(.66,.66) translate(-420px,-100px);
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.first-glass p{
}
.second-glass{
  display: flex;
}
.fashion-image{
  background-image: url("../fash.webp");

 /* Full height */
 height: 1000px;
width:2000px;
margin-top:-100px;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.fashion-image img{
  transform:scale(1.1,1.1) translate(20px,-650px);
}
.second-glass img{
  transform:scale(1.1,1.1) translate(200px,-150px); //100 for -3000
}
.second-glass p{
}
.overflow-wrapper{
  height:4000px;
  width:100%;
  contain:paint;
}
@media (max-width: 900px) {
  .overflow-wrapper{
    height:5300px;
    width:100%;
    contain:paint;
  }
}
.luxtext{
  font-family: 'Rajdhani', sans-serif;
  font-size:100px;
}

.flex-child {
  flex: 1
}

.flex-child:first-child{
  margin-right:20px;
}

@keyframes fadeInLeft {
           0% {
              opacity: 0;
              transform:scale(.66,.66) translate(-620px,-100px);
           }
           100% {
              opacity: 1;
              transform:scale(.66,.66) translate(-420px,-100px);
           }
        }


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -webkit-user-select: none;
  touch-action: manipulation;
}



@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}



/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
