@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/*
nav-bg : #121212
nav-text: #D0D0D0
body-bg: #FFFFFF
body-div-bg/txt :#F5F5F7
black: #000000
accent-blue: #217ACE
6D9886
F2E7D5

*/
html {
  scroll-behavior: smooth;
}

a {
  color: #D0D0D0;
  text-decoration: none; /* no underline */
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 12px;
  background-color: #FFFFFF;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.green {
  color: rgb(109, 152, 134);
}

.white {
  color: #D0D0D0;
}

.white-half {
  color: rgba(208, 208, 208, 0.5);
}

.black-text {
  color: #000000;
}

.full {
  opacity: 1;
}

.half {
  opacity: 0.5;
}

.three-quarter {
  opacity: 0.75;
}

.quarter {
  opacity: 0.25;
}

.small-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.5rem;
}

.large-text {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 1.5rem;
}

.black {
  background-color: #000000;
}

.black-gradient {
  background: #F5F5F7;
}

.content-wrapper-main {
  padding-left: 15vw;
  padding-right: 10vw;
  padding-bottom: 8.5rem;
  padding-top: 8.5rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper-about {
  padding-left: 15vw;
  padding-right: 10vw;
  padding-top: 1.5rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 7rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  background: #121212;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #D0D0D0;
  height: 3rem;
  /* top, right, bottom, left tb rl*/
  padding: 0 2.5rem;
  font-size: 1.1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  position: absolute;
  right: 3px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #D0D0D0;
  position: absolute;
  height: 2px;
  width: 20px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .socials {
    visibility: hidden;
  }
  .top-nav {
    justify-content: space-between;
    align-items: center;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #D0D0D0;
    height: 2.5rem;
    /* top, right, bottom, left*/
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  .menu-button-container {
    display: flex;
    /* top, right, bottom, left*/
    /* t/b, r/l */
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 30px;
    left: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    top: -300px;
    padding: 0.5em 0;
    width: 100vw;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, rgba(170, 170, 170, 0.2) 0%, rgba(170, 170, 170, 0.45) 29%, rgba(170, 170, 170, 0.7) 67%, rgba(170, 170, 170, 0.99) 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s infinite;
  animation-direction: alternate-reverse;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.img-border {
  border-radius: 50%;
  position: relative;
  background: linear-gradient(to right, f2f2f2, #242526);
  padding: 3px;
}

.input-wrapper {
  color: rgba(208, 208, 208, 0.5);
  width: auto;
}
.input-wrapper > input,
.input-wrapper > .placeholder {
  background-color: transparent;
  border: none;
  color: rgb(109, 152, 134);
  align-self: flex-start;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"UI/UX";
  alt: "UI/UX";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 11.48s linear 1s infinite forwards;
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.5797200929% {
    content: "​U";
    content: "​U"/"UI/UX";
    alt: "UI/UX";
  }
  0.5807200929%, 1.1604401858% {
    content: "​UI";
    content: "​UI"/"UI/UX";
    alt: "UI/UX";
  }
  1.1614401858%, 1.7411602787% {
    content: "​UI/";
    content: "​UI/"/"UI/UX";
    alt: "UI/UX";
  }
  1.7421602787%, 2.3218803717% {
    content: "​UI/U";
    content: "​UI/U"/"UI/UX";
    alt: "UI/UX";
  }
  2.3228803717%, 14.9815783972% {
    content: "​UI/UX";
    content: "​UI/UX"/"UI/UX";
    alt: "UI/UX";
  }
  14.9825783972%, 15.4461544715% {
    content: "​UI/U";
    content: "​UI/U"/"UI/UX";
    alt: "UI/UX";
  }
  15.4471544715%, 15.9107305459% {
    content: "​UI/";
    content: "​UI/"/"UI/UX";
    alt: "UI/UX";
  }
  15.9117305459%, 16.3753066202% {
    content: "​UI";
    content: "​UI"/"UI/UX";
    alt: "UI/UX";
  }
  16.3763066202%, 16.8398826945% {
    content: "​U";
    content: "​U"/"UI/UX";
    alt: "UI/UX";
  }
  16.8408826945%, 22.6470836237% {
    content: "​";
    content: "​"/"UI/UX";
    alt: "UI/UX";
  }
  22.6480836237%, 23.2278037166% {
    content: "​F";
    content: "​F"/"UI/UX";
    alt: "UI/UX";
  }
  23.2288037166%, 23.8085238095% {
    content: "​Fu";
    content: "​Fu"/"UI/UX";
    alt: "UI/UX";
  }
  23.8095238095%, 24.3892439024% {
    content: "​Ful";
    content: "​Ful"/"UI/UX";
    alt: "UI/UX";
  }
  24.3902439024%, 24.9699639954% {
    content: "​Full";
    content: "​Full"/"UI/UX";
    alt: "UI/UX";
  }
  24.9709639954%, 25.5506840883% {
    content: "​Fulls";
    content: "​Fulls"/"UI/UX";
    alt: "UI/UX";
  }
  25.5516840883%, 26.1314041812% {
    content: "​Fullst";
    content: "​Fullst"/"UI/UX";
    alt: "UI/UX";
  }
  26.1324041812%, 26.7121242741% {
    content: "​Fullsta";
    content: "​Fullsta"/"UI/UX";
    alt: "UI/UX";
  }
  26.7131242741%, 27.292844367% {
    content: "​Fullstac";
    content: "​Fullstac"/"UI/UX";
    alt: "UI/UX";
  }
  27.293844367%, 39.9525423926% {
    content: "​Fullstack";
    content: "​Fullstack"/"UI/UX";
    alt: "UI/UX";
  }
  39.9535423926%, 40.4171184669% {
    content: "​Fullstac";
    content: "​Fullstac"/"UI/UX";
    alt: "UI/UX";
  }
  40.4181184669%, 40.8816945412% {
    content: "​Fullsta";
    content: "​Fullsta"/"UI/UX";
    alt: "UI/UX";
  }
  40.8826945412%, 41.3462706156% {
    content: "​Fullst";
    content: "​Fullst"/"UI/UX";
    alt: "UI/UX";
  }
  41.3472706156%, 41.8108466899% {
    content: "​Fulls";
    content: "​Fulls"/"UI/UX";
    alt: "UI/UX";
  }
  41.8118466899%, 42.2754227642% {
    content: "​Full";
    content: "​Full"/"UI/UX";
    alt: "UI/UX";
  }
  42.2764227642%, 42.7399988386% {
    content: "​Ful";
    content: "​Ful"/"UI/UX";
    alt: "UI/UX";
  }
  42.7409988386%, 43.2045749129% {
    content: "​Fu";
    content: "​Fu"/"UI/UX";
    alt: "UI/UX";
  }
  43.2055749129%, 43.6691509872% {
    content: "​F";
    content: "​F"/"UI/UX";
    alt: "UI/UX";
  }
  43.6701509872%, 49.4763519164% {
    content: "​";
    content: "​"/"UI/UX";
    alt: "UI/UX";
  }
  49.4773519164%, 50.0570720093% {
    content: "​Q";
    content: "​Q"/"UI/UX";
    alt: "UI/UX";
  }
  50.0580720093%, 50.6377921022% {
    content: "​Qu";
    content: "​Qu"/"UI/UX";
    alt: "UI/UX";
  }
  50.6387921022%, 51.2185121951% {
    content: "​Qua";
    content: "​Qua"/"UI/UX";
    alt: "UI/UX";
  }
  51.2195121951%, 51.799232288% {
    content: "​Quan";
    content: "​Quan"/"UI/UX";
    alt: "UI/UX";
  }
  51.800232288%, 64.4589303136% {
    content: "​Quant";
    content: "​Quant"/"UI/UX";
    alt: "UI/UX";
  }
  64.4599303136%, 64.9235063879% {
    content: "​Quan";
    content: "​Quan"/"UI/UX";
    alt: "UI/UX";
  }
  64.9245063879%, 65.3880824623% {
    content: "​Qua";
    content: "​Qua"/"UI/UX";
    alt: "UI/UX";
  }
  65.3890824623%, 65.8526585366% {
    content: "​Qu";
    content: "​Qu"/"UI/UX";
    alt: "UI/UX";
  }
  65.8536585366%, 66.3172346109% {
    content: "​Q";
    content: "​Q"/"UI/UX";
    alt: "UI/UX";
  }
  66.3182346109%, 72.1244355401% {
    content: "​";
    content: "​"/"UI/UX";
    alt: "UI/UX";
  }
  72.1254355401%, 72.705155633% {
    content: "​H";
    content: "​H"/"UI/UX";
    alt: "UI/UX";
  }
  72.706155633%, 73.2858757259% {
    content: "​He";
    content: "​He"/"UI/UX";
    alt: "UI/UX";
  }
  73.2868757259%, 73.8665958188% {
    content: "​Hea";
    content: "​Hea"/"UI/UX";
    alt: "UI/UX";
  }
  73.8675958188%, 74.4473159117% {
    content: "​Heal";
    content: "​Heal"/"UI/UX";
    alt: "UI/UX";
  }
  74.4483159117%, 75.0280360046% {
    content: "​Healt";
    content: "​Healt"/"UI/UX";
    alt: "UI/UX";
  }
  75.0290360046%, 75.6087560976% {
    content: "​Health";
    content: "​Health"/"UI/UX";
    alt: "UI/UX";
  }
  75.6097560976%, 76.1894761905% {
    content: "​Healthc";
    content: "​Healthc"/"UI/UX";
    alt: "UI/UX";
  }
  76.1904761905%, 76.7701962834% {
    content: "​Healthca";
    content: "​Healthca"/"UI/UX";
    alt: "UI/UX";
  }
  76.7711962834%, 77.3509163763% {
    content: "​Healthcar";
    content: "​Healthcar"/"UI/UX";
    alt: "UI/UX";
  }
  77.3519163763%, 90.0106144019% {
    content: "​Healthcare";
    content: "​Healthcare"/"UI/UX";
    alt: "UI/UX";
  }
  90.0116144019%, 90.4751904762% {
    content: "​Healthcar";
    content: "​Healthcar"/"UI/UX";
    alt: "UI/UX";
  }
  90.4761904762%, 90.9397665505% {
    content: "​Healthca";
    content: "​Healthca"/"UI/UX";
    alt: "UI/UX";
  }
  90.9407665505%, 91.4043426249% {
    content: "​Healthc";
    content: "​Healthc"/"UI/UX";
    alt: "UI/UX";
  }
  91.4053426249%, 91.8689186992% {
    content: "​Health";
    content: "​Health"/"UI/UX";
    alt: "UI/UX";
  }
  91.8699186992%, 92.3334947735% {
    content: "​Healt";
    content: "​Healt"/"UI/UX";
    alt: "UI/UX";
  }
  92.3344947735%, 92.7980708479% {
    content: "​Heal";
    content: "​Heal"/"UI/UX";
    alt: "UI/UX";
  }
  92.7990708479%, 93.2626469222% {
    content: "​Hea";
    content: "​Hea"/"UI/UX";
    alt: "UI/UX";
  }
  93.2636469222%, 93.7272229965% {
    content: "​He";
    content: "​He"/"UI/UX";
    alt: "UI/UX";
  }
  93.7282229965%, 94.1917990708% {
    content: "​H";
    content: "​H"/"UI/UX";
    alt: "UI/UX";
  }
  94.1927990708%, 100% {
    content: "​";
    content: "​"/"UI/UX";
    alt: "UI/UX";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}

.container-res {
  display: flex;
  padding-left: 15vw;
  padding-right: 15vw;
  margin-bottom: 5vh;
  max-width: 100vw;
  margin: 20px auto;
  background-color: #F5F5F7;
  justify-content: space-between;
  box-shadow: 1px 1px 10px #e6e6e6;
}

.profile {
  flex-basis: 35%;
  /*max-width: 350px;*/
  background-color: #000000;
  color: #D0D0D0;
}

.profile-photo {
  height: 290px;
  background-image: url(https://cache3.youla.io/files/images/1284_1284_out/5a/e0/5ae099012138bb974f57d5d4.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.profile-info {
  padding: 50px 30px 70px 30px;
}

.heading {
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-light {
  color: #fff;
  border-bottom: 2px dashed #5a5a5a;
}

.profile-text {
  font-size: 13px;
  line-height: 24.19px;
  margin-bottom: 50px;
}

.contacts {
  margin-bottom: 70px;
}

.contacts-title {
  color: #fff;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
}

.contacts-text {
  color: #ababab;
  text-decoration: none;
  padding-left: 32px;
  line-height: 29.97px;
}

.contacts-item {
  border-bottom: 2px dashed #5a5a5a;
  padding-bottom: 24px;
  padding-top: 24px;
}

address {
  font-style: normal;
}

.fas {
  margin-right: 10px;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.language {
  width: 100px;
  height: 100px;
  border: 6px solid #5a5a5a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 30px;
}

.language:nth-child(3) {
  margin-bottom: 0;
}

.language-text {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 8px;
}

.language-per {
  font-size: 15px;
  font-weight: 600;
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  display: block;
  width: 90px;
  height: 2px;
  background-color: #5a5a5a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.line:nth-child(2) {
  width: 100px;
  margin-left: 15px;
}

.resume {
  color: #000000;
  padding: 20px 30px;
  flex-basis: 63%;
  background-color: #fff;
}

.resume-wrap {
  border: 1px solid #eaeaea;
  padding: 35px 56px;
  min-height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.logo-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #39383a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -2px;
}

.logo-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
}

.logo-line {
  display: block;
  width: 43px;
  height: 2px;
  background-color: #39383a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-lines_left .logo-line:nth-child(2) {
  margin-right: 20px;
  width: 55px;
}

.logo-lines_right .logo-line:nth-child(2) {
  margin-left: 20px;
  width: 55px;
}

.about {
  text-align: center;
  border-bottom: 2px dashed #ededed;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.name {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.position {
  text-transform: uppercase;
  font-size: 9px;
  color: #808080;
  margin-bottom: 30px;
}

.about-address {
  font-size: 13px;
  margin-bottom: 15px;
}

.about-contacts a {
  font-size: 10px;
  color: #777777;
  text-decoration: none;
}

.heading_dark {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px dashed #ededed;
  padding-bottom: 30px;
  margin-bottom: 37px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dashed #ededed;
}

.list-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}

.list-item__title {
  font-size: 11px;
  text-transform: uppercase;
}

.list-item__date {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.list-item__text {
  font-size: 10px;
  color: #777;
}

.list-item_non_border {
  border: none;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-list__item {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.level {
  width: 70%;
  height: 8px;
  border: 1px solid #39383a;
  position: relative;
}

.level:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #898989;
}

.level-90:before {
  width: 90%;
}

.level-80:before {
  width: 80%;
}

.level-60:before {
  width: 60%;
}

.level-95:before {
  width: 95%;
}

.level-35:before {
  width: 35%;
}

.level-70:before {
  width: 70%;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 70%;
  }
  .profile {
    position: relative;
  }
  .profile:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #000000;
    width: 100%;
    height: 145px;
  }
  .profile-photo {
    width: 0px;
    margin: auto;
    height: 0px;
    border: 0px solid #ccc;
    margin: auto;
    margin-top: 40px;
    position: relative;
    z-index: 10;
  }
  .lines {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    width: 80%;
  }
  .resume {
    padding: 10px;
  }
  .resume-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-item__title {
    font-size: 14px;
  }
  .list-item__title {
    font-date: 12px;
  }
  .list-item__text {
    font-size: 12px;
    line-height: 1.4;
  }
  .about-contacts {
    font-size: 12px;
  }
}
@media (max-width: 567px) {
  .logo-img {
    width: 70px;
    height: 70px;
  }
  .logo-lines {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.languages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .container {
    min-width: 320px;
  }
  .name {
    letter-spacing: normal;
  }
  .level {
    width: 50px;
  }
}

/*# sourceMappingURL=app_main.css.map */
