<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/css/compiled.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
      <script src = "/socket.io/socket.io.js"></script>
  <title>PoliTrack</title>
</head>
