
      <%-include('partials/head')%>
<script src = "/socket.io/socket.io.js"></script>
    <body>

        <div class="container5">
            <button id="btn" class="button5"><a href="/auth/google">
                <p id="btnText">Login W/ Google</p>
                <div class="check-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>

                </div>
                </a>
            </button>
        </div>
        <script type="text/javascript">
            const btn = document.querySelector("#btn");
            const btnText = document.querySelector("#btnText");

            btn.onclick = () => {
                btnText.innerHTML = "Thanks";
                btn.classList.add("active");
            };
        </script>
    </body>
    </html>
