<%-include('partials/head')%>


<aside class="profile-card" style="height: 100vh; margin-bottomclass="input" :100px;">
  <header style=" line-height: 10px;">
    <!-- here’s the avatar -->
    <a  href="#">
      <img src="https://i.ibb.co/S5Y5mcf/poli.png" class="hoverZoomLink">
    </a>

    <!-- the username -->
    <h1>
            Hi,
          </h1>

    <!-- and role or location -->
    <h2>
            What should we call you?
          </h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      <div>

            <form class="form" style="width:100%;" action = "/" method = "POST">
                <input class="input" id="display" style="outline:.2px solid gray;" name="displayname" type="text" placeholder="display name">

       <input style="height:50px;outline:.2px solid gray;"id="submit" name="ask" type="submit" value="display" class="submit">
    </form>

  </div>

  <!-- some social links to show off -->

</aside>
