<%-include('partials/head')%>


<aside class="profile-card" style="height: 100vh; margin-bottomclass="input" :100px;">
  <header style=" line-height: 10px;">
    <!-- here’s the avatar -->
    <a  href="#">
      <img src="https://i.ibb.co/S5Y5mcf/poli.png" class="hoverZoomLink">
    </a>

    <!-- the username -->
    <h1>
            Great,
          </h1>

    <!-- and role or location -->
    <h2>
Upload a profile picture          </h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>
      <div>


    <form action = "/users/<%=name%>" enctype = "multipart/form-data" method = "POST">
      <input type = "file" name = "picture" accept = "image/*" required />
      <br>
      <input type = "submit" value = "Upload Photo" />
      </form>
  </div>

  <!-- some social links to show off -->

</aside>
