<!DOCTYPE html>
<%-include('partials/head')%>

<body>
  <h1? FileUpload Demo </h1>
<section style = "background-color: #b0e0e6;">
  <h2> Single File </h2>

  <form action = '/uploadfile' enctype = "multipart/form-data" method = "POST">
    <input type = "file" name = "myFile" />
    <br>
    <input type = "submit" value = "Upload a file" required/>
    </form>

    <section style = "background-color: #a0cbd1;">
      <h2> Multiple Files </h2>
      <form action = "/uploadmultiple" enctype = "multipart/form-data" method = "POST">
        Choose files: <input type = "file" name = "myFiles" multiple required>
        <br>
        <input type = "submit" value = "Upload your files" />
        </form>

        <section style = "background-color: #50b7bc;" >
          <h2> Photo files </h2>
          <form action = "/upload/photo" enctype = "multipart/form-data" method = "POST">
            <input type = "file" name = "picture" accept = "image/*" required />
            <br>
            <input type = "submit" value = "Upload Photo" />
            </form>
            </body>
            </html>
