
<html lang="en">

<head>
  <title><%=data[userid].displayName%></title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img" style="radius:50px;">
      <img src="<%=photoLocation%>" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%=data[userid].displayName%></h1>
        <p>Politrack. Student </p>
      </div>
      <div class="product-price-btn">
        <p><span>user</span></p>
        <button type="button">Verified</button>
      </div>
    </div>
  </div>

</body>

</html>
