
.fixed-top {
  display: flex;
  position: fixed;

}
.filter-green{
       filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
   }
   #wrapper {
       margin-left:auto;
       margin-right:auto;
       width:1860px;
   }

   @import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

   text {
     fill: gray;
     filter: url('#money');
     font-family: 'Playfair Display', 'Georgia', serif;
     font-size: 90px;
     font-weight: 900;
   }
