<%-include('partials/navbar')%>
<body>
<div class = "content-wrapper-main black">
<div class = "small-text green"> Hi, my name is </div>
<div class = "large-text white"> Tahmid Washy</div>
<div class = "large-text white">  <div class="input-wrapper">
  <input style = "visiblity:hidden; width:0px; height:0px; padding: 0px;"aria-label="">I am interested in <span class="placeholder"></span>
</div> </div>
<div class = "small-text white-half"'> I am a second year college student looking to develop and apply my skills
  in the intersection of <span class = 'white'><span class = 'white'style='font-weight:900;'>software</span><span class = "white-half">,</span> <span style='font-weight:900;'>math</span><span class = "white-half">,</span> <span class = "white-half"> and</span> <span style='font-weight:900;'>finance</span> </span></div>
<!--<img style= "width:15rem; height:auto; float: right; margin: 20px 15px 15px 0px;"
src="imgs/tahmidheadshot.png" alt="port" width="930" height="1142">-->
<div class = "small-text green"> <a href= '#scroller' class=''> About me &#x203A;</a>  &nbsp; &nbsp; &nbsp
  <a href = '/projects'> Projects &#x203A;</a> </div>
</div>

<!--<div class="container-fluid">
    <div class="row example-basic">
        <div class="col-md-12 example-title">
          <div style ='display:flex;  flex-direction: row; justify-content: space-between; '>
            <div>
            <div class = "large-text black-text "> My Timeline
            </div>
            <div class = "small-text black-text half"> A brief synopsis of my experiences
            </div>
            </div>
            <div >
              <img style = 'border-radius: 50%;' src='imgs/hs (1).png' height='122px'width='141px'>

              </div>
            </div>
</div>
        </div>
        </div> -->
        <div class="container-res">
    <div class="profile">
      <div class="profile-photo"></div>
      <div class="profile-info">
      <h2 class="heading heading-light">Profile</h2>
          <p class="profile-text">Hello! I am a second year Data Science
            and Mathematics major at Northeastern University. My interests lie
            in the intersection of mathematics, finance, and software. I enjoy
            building out fullstack applications using a repertoire of languages
            including: HTML/CSS/SCSS, JS/EJS/Node/Express, MongoDB/SQL, Java, Python, etc.
            You can check out my projects, or my experiences listed here!
      </p>
        <div class="contacts">
          <div class="contacts-item">
            <h3 class="contacts-title">
              <i class="fas fa-phone-volume"></i>
              Phone
            </h3>
            <a href="tel:+(1800) 123 4567" class="contacts-text">+(1347) 530 7840</a>
          </div>
          <div class="contacts-item">
            <h3 class="contacts-title">
              <i class="fas fa-envelope"></i>
              Email
            </h3>
            <a href="mailto:Robertsmith@gmail.com" class="contacts-text">tahmidwashy@gmail.com</a>
          </div>
          <div class="contacts-item">
            <h3 class="contacts-title">
              <i class="fas fa-globe-europe"></i>
              Web
            </h3>
            <a href="https://www.robertsmith.com/" class="contacts-text">www.washyt.com</a>
          </div>
          <div class="contacts-item">
            <h3 class="contacts-title">
              <i class="fas fa-map-marker-alt"></i>
              Home
            </h3>
            <address class="contacts-text">Queens, NY<br></address>
         </div>
        </div>
        <h2  class="heading heading-light">Languages</h2>
        <div class="languages">
          <div class="language">
            <span class="language-text">Mandarin</span>
            <strong class="language-per">30%</strong>
        </div>
        <div class="language">
          <span class="language-text">Bangla</span>
          <strong class="language-per">100%</strong>
        </div>

         <div class="lines">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
          </div>
        </div>
       </div>
     </div>
    <div class="resume">
     <div class="resume-wrap">
       <div class="logo">
         <div class="logo-lines logo-lines_left">
           <span class="logo-line"></span>
           <span class="logo-line"></span>
           <span class="logo-line"></span>
         </div>
         <div class="logo-img"><img src = 'imgs/hs (1).png' width = '80px' height = '80px' style='border-radius:50%;'></div>
         <div class="logo-lines logo-lines_right">
           <span class="logo-line"></span>
           <span class="logo-line"></span>
           <span class="logo-line"></span>
         </div>
       </div>
       <div class="about">
         <h1 class="name">Tahmid Washy</h1>
         <p class="position">Software Developer</p>
          <address  class="about-address">Queens, NYC / Boston, MA</address>
           <div class="about-contacts">
             <a href="" class=""><b>t</b> : (1347) 530 7840</a> |
             <a href="" class=""><b>e</b> : tahmidwashy@gmail.com</a> |
             <a href="" class=""><b>w</b> : www.washyt.com</a> |
           </div>
        </div>
       <div class="experience">
         <h2 class="heading heading_dark">Experience</h2>
         <ul class="list">
           <li class="list-item">
             <h4 class="list-item__title">Equity Analyst | TAMID</h4>
             <p class="list-item__date">Sep 2022 - Present</p>
             <p class="list-item__text">Conducted bottom-up investment analysis
             across the TMT, Software, and Healthcare sectors alongside a group
           of four analysts in order to construct 8+ mathematical financial models
          and present tailored recommendations to a group of board executives.</p>
           </li>
           <li class="list-item">
             <h4 class="list-item__title">Public Relations Chair | &Alpha;&Kappa;&Psi;</h4>
             <p class="list-item__date">Dec 2022 - Present</p>
             <p class="list-item__text">Spearhead implementation of a professional experiences database,
             aggregating information from 120+ brothers to streamline internal networking, alongside
           managing a commitee of 4 students to design 30+ crossplatform social media posts and
          deploy a branded website in order to increase recruitment and mixer attendance by 26%  </p>
           </li>
           <li class="list-item">
             <h4 class="list-item__title">Development Operations | Proclivity Systems</h4>
             <p class="list-item__date">Jun 2021 - Sep 2021</p>
             <p class="list-item__text">Automated clientside AWS processes and constructed/presented <thead>
               respective forward-facing documentation, alongside deploying 34 JS media trackers for an AstraZeneca
               partner and automating the creation of internal documentation for 80+ Terraform modules.
             </thead></p>
           </li>
         </ul>
       </div>

            <div class="education">
         <h2 class="heading heading_dark">Education</h2>
         <ul class="list">
           <li class="list-item list-item_non_border">
             <h4 class="list-item__title">Candidate for Bachelors of Science in Datascience and Mathematics</h4>
             <p class="list-item__date">Sep 2022 - May 2026</p>
             <p class="list-item__text">Relevant Coursework: Adv. Programming with Data, Database Design, Foundations of Data Science, Diff Eq and Lin Alg, Multivariable Calculus.</p>
         </ul>
       </div>
       <div class="skills">
         <h2 class="heading heading_dark">Skills</h2>
      <ul class="skills-list">
        <li class="skills-list__item">HTML/CSS/EJS
        <div class="level level-90"></div></li>
        <li class="skills-list__item">JS/Node
        <div class="level level-80"></div></li>
        <li class="skills-list__item">SQL/DBMS
        <div class="level level-60"></div></li>
        <li class="skills-list__item">Python
        <div class="level level-95"></div></li>
        <li class="skills-list__item">Java
        <div class="level level-35"></div></li>
        <li class="skills-list__item"> AWS
        <div class="level level-70"></div></li>
        <li class="skills-list__item"> Figma/PS
        <div class="level level-70"></div></li>
         </ul>

         </ul>
       </div>


       </div>
      </div>
    </div>
  </div>
<div style = 'height:2vh'></div>
</body>
