<html lang="en">

<head>
	<meta charset ="UTF-8">
	<meta name="keywords" content="student, coding, python, software dev, css/html, nodejs">
	<meta name="description" content="Tahmid Washy - My ePortfolio">
	<meta name="author" content="Tahmid Washy">
	<link rel="icon" href="../images/logpiece.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/css/app_main.css">


  <title>Tahmid - ePort</title>
</head>
  <body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a class = "animate-charcter" style='font-size: 43px;' href="#">
        TW
      </a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href ="#">Contact</a></li>
        <li>
          <a href="#" class="desktop-item">More</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="/PT">Politrack</a></li>
            <li><a href="/LG">LuxGlass</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">Drop menu 4</a></li>
          </ul>
        </li>
        <!--
        <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Feedback</a></li>-->
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  <div class="body-text">
    <div >
  <img class="img-border" src="/imgs/headshot.jfif" alt="Avatar">
</div>

    <div class="title" style = 'font-weight: 600; font-size: 32px; margin-top:40px;'>Tahmid Washy</div>

    <div class="sub-title" style = 'font-weight: 400; font-size: 26px;'>Data Science & Mathematics Major at Northeastern University</div>
    <!-- <div class="sub-title">Here is <a href="/LG">LuxGlass</a></div>
    <div class="sub-title">Here is <a href="/PT">Politrack</a></div>-->
    <div style = '   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;'>
    <div style='width:66%; height: 2px; background-color: black;' ></div>
    <div class="sub-title" style = 'font-weight: 300; font-size: 24px; width: 82%; margin-top:20px;'>I am a second year Data Science & Mathematics major based out of Queens, NY. I hope to capitalize
    on emerging trends at the intersection of mathematics, programming, and finance. My relevant experiences:</div></div>
  </div>
</body>
