<%-include('partials/navbar')%>
<link rel="stylesheet" href="/styles/css/app_elements.css">

<body>
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card" href="/PT" style="--bg-img: url(/imgs/logo.png)">
        <div>
          <h1>Politrack</h1>
          <p>Political Discussion Forum</p>
          <div class="date">Jan 2022</div>
          <div class="tags">
            <div class="tag">oAuth</div>
            <div class="tag">MongoDB</div>
            <div class="tag">Socket</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="/LG" style="--bg-img: url(/imgs/mp=1.png)">
        <div>
          <h1>LuxGlasses</h1>
          <p>Ecommerce Concept Design</p>
          <div class="date">Sep 2022</div>
          <div class="tags">
            <div class="tag">NodeJs</div>
            <div class="tag">Express</div>
            <div class="tag">Stripe</div>

          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="/imgs/ML1.pdf" style="--bg-img: url(/imgs/bgfin.jpg)">
        <div>
          <h1>S&P Reclassification</h1>
          <p>Reclustering Stock Nomenclature</p>
          <div class="date">May 2023</div>
          <div class="tags">
            <div class="tag">Python</div>
            <div class="tag">Sklearn</div>
            <div class="tag">NumPy</div>

          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="/imgs/ML1.pdf" style="--bg-img: url(/imgs/wd1.png)">
        <div>
          <h1>Wealth Desparity</h1>
          <p>Reclustering Stock Nomenclature</p>
          <div class="date">Dec 2022</div>
          <div class="tags">
            <div class="tag">Python</div>
            <div class="tag">Sklearn</div>
            <div class="tag">NumPy</div>

          </div>
        </div>
      </a>
    </div>

    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  </section>
</body>
-->
