<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset ="UTF-8">
	<meta name="keywords" content="sunglasses,glasses,luxury,online-shop,luxurysunglasses,eyewear,designer,brand,designer-brand,retro,unisex,vintage">
	<meta name="description" content="LuXGlasses - the best in eyewear">
	<meta name="author" content="LuXGlasses LLC">
	<meta content="width=device-width, initial-scale=.5, minimum-scale=.5" name="viewport" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="icon" href="../images/logpiece.png">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/css/home.css">
		<link rel="stylesheet" href="/styles/css/nav.css">
		<link rel="stylesheet" href="/styles/css/compiledlg.css">

  <title>LuXGlass</title>
</head>
